#credits {
	padding: 100px 0;

	.row {
		display: flex;
	}
	.col {
		display: flex;
        flex:auto;
        justify-content: space-evenly;
	}

	@media (max-width: 1000px) {
        .row {
            flex-direction: column;
        }   
        .col {
            padding: 0 4px;
            img {
                max-width: 100%;
				height: auto;	
                margin-bottom: 5;
            }
        }
    }

	p {
		line-height: 24px;
		margin: 30px 0;
		font-weight: 600;
		font-size: 16px;
	}

	img {
		max-width: 520px;
		height: auto;
		background: #fff;
		border-right: 0;
		box-shadow: 0 0 50px rgba(0,0,0,0.06);
	}
	.credits-text {
		li {
			margin-bottom: 6px;
			margin-left: 6px;
			list-style: none;
			padding: 0;
		}
		li:before {
			content: '\f00c';
			font-family: 'FontAwesome';
			color: #5ca9fb;
			font-size: 11px;
			font-weight: 300;
			padding-right: 8px;
		}
	}
	h2 {
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 15px;
		&::after {
			position: absolute;
			background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
			height: 4px;
			width: 60px;
			bottom: 0;
			left: 0;
			content: " ";
		}
	}
	h3 {
		font-size: 22px;
		margin: 0 0 20px 0;
	}
}