/* Navigation */
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
$navbar-menu-wrapper-color:#001737;
$navbar-menu-wrapper-box-shadow:0 4px 16px 0 rgba(0, 0, 0, 0.33);
$navbar-dropdown-toggle-arrow-color:grey;
$dropdown-toggle-arrow-color: #fff !default;
$default-font-size: 0.875rem; //14px
$border-color:#d5dfe6 !default;
$dropdown-bg: #fff !default;
$body-color: #001737 !default;
$dropdown-bg: #fff !default;
$dropdown-hover-bg:theme-color(light) !default;
$dropdown-hover-color: $body-color !default;
$dropdown-divider-bg: $border-color !default;
$dropdown-link-color: $body-color !default;
$dropdown-header-color: $body-color !default;

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
} 
.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	padding: 15px;
	transition: all 0.8s;
	.navbar-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		.navbar-toggle {
			border-radius: 5px;
			padding-top: 10px;
			padding-bottom: 10px;
			&:hover {
				cursor: pointer;
				.navbar-default .navbar-toggle:focus {
					background-color: #fff;
				}
			} 	
		}
		.navbar-brand {
			font-family: 'Raleway', sans-serif;
			font-size: 24px;
			font-weight: 700;
			color: #333;
			text-transform: uppercase;
			cursor: pointer;
			height: 50px;
			padding: 15px 15px;
			line-height: 20px;
		}
		.navbar-dropdown {
			transition: width $action-transition-duration $action-transition-timing-function;
			-webkit-transition: width $action-transition-duration $action-transition-timing-function;
			-moz-transition: width $action-transition-duration $action-transition-timing-function;
			-ms-transition: width $action-transition-duration $action-transition-timing-function;
			color: $navbar-menu-wrapper-color;
			box-shadow: $navbar-menu-wrapper-box-shadow;
			border-radius: 50%;
			cursor: pointer;

			.img-md {
				width: 60px;
				min-width: 60px;
				height: 60px; }
			.img-xs {
				width: 32px;
				min-width: 32px;
				height: 32px; }
			.img-sm {
				width: 43px;
				min-width: 43px;
				height: 43px; }
		
			@media (max-width: 768px) {
				display: none;
			}
			.navbar-nav{
				animation: popup 0.18s;
			}
			
			@keyframes popup {
				0%   {margin-top: 36px;}
				25%  {margin-top: 42px;}
				50%  {margin-top: 48px;}
				75%  {margin-top: 54px;}
				100% {margin-top: 60px;}
			}
			.navbar-nav {
				flex-direction: row;
				align-items: center;
				display: none;
				position: absolute;
				background-color: #ffffff;
				min-width: 250px;
				margin-top: 60px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 100;
				left: auto !important;
				right: 30 !important;
				border: 1px solid rgba(182, 182, 182, 0.1);
				border-radius: 2px;
				box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
				padding: 0 0 20px 0;
				&.active{
					display: block;
				}
				.dropdown-menu{
					.dropdown-header{
						padding: 20px 20px 5px 20px;
						.name-dropdown{
							margin-bottom: 2px;
							font-weight: 600;
						}
						.role-dropdown{
							margin-top: 0;
						}
					}
					.dropdown-item{
						background-color: rgba(255,255,255,0);
						width: 100%;
						text-align: left;
						border:transparent;
						font-size: 14px;
						padding: 10px 20px 10px 20px;
						&:hover{
							cursor: pointer;
							background-color: #f0f0f0;
						}
					}
				}
			}
		}
	}
	@media (min-width: 768px) {
		.navbar-header {
			float: left;
		}
		.navbar-fixed-top{
			border-radius: 0;
		}
		.navbar-toggle {
			display: none;
		}
		.navbar-nav {
			float: left;
			margin: 0;
			li {
				width: 100%;
			}
		}
		.navbar-right {
			float: right !important;
			margin-right: -15px;
		}
	}
	@media (max-width: 768px){
		nav {
			.collapse {
				display: none;
			}
		}
		#menu div.navbar-brand {
			font-size: 22px;
		}
	}
}


.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
    
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
