$sidebar-profile-name-color: #fff !default;
$sidebar-profile-designation-color:#fff !default;
$sidebar-nav-item-profile-border-color:1px solid rgba(#fff, 0.11);
$sidebar-nav-item-profile-bg:rgba(255, 255, 255, 0.1);
$sidebar-nav-item-profile-color: #fff;
$sidebar-light-category-color: rgba(255, 255, 255, 0.7);
$sidebar-nav-category-border-color:rgba(255, 255, 255, 0.13);
.sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 270px;
    background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
    padding-top: 80px;
    .sidebar-link{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        cursor: pointer;
    }
    .sidebar-link:hover{
        color: #b3aeae;
    }
    .nav {
        .nav-item {
            line-height: 1;
            &.nav-profile {
                max-width: 270px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 30px;
                margin-bottom: 30px;
            
                .nav-link {
                    display: flex;
                    border-radius: 3px;
                    border: $sidebar-nav-item-profile-border-color;
                    background-color: $sidebar-nav-item-profile-bg;
                    color: $sidebar-nav-item-profile-color;
                    padding: 15px 25px;
            
                    .profile-image {
                        margin-right: 13px;
                        position: relative;
                        .img-xs {
                            width: 32px;
                            min-width: 32px;
                            height: 32px;
                        }
                    }
            
                    .dot-indicator {
                        position: absolute;
                        bottom: 2px;
                        right: 0px;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        &.bg-success {
                            background-color: #19d895 !important; }
                    }
            
                    .profile-name {
                        margin-bottom: 5px;
                        margin-top: 0;
                        font-weight: 500;
                        // font-size: 14px;
                        color: $sidebar-profile-name-color;
                    }
            
                    .designation {
                        margin-top: 0;
                        margin-bottom: 0;
                        font-weight: 400;
                        color: $sidebar-profile-designation-color;
                    }
                }
            }
            &.nav-category {
                color: $sidebar-light-category-color;
                border-bottom: 1px solid $sidebar-nav-category-border-color;
                margin: 0 30px;
                font-size: 15px;
                font-weight: 500;
                padding: 10px 0px 15px 0px;
            }
        }
    }
}

@media (max-width: 768px) {
    .sidebar {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
        overflow-x: hidden;
        padding-top: 80px;
        width: 0;
        transition: width 0.5s;
        .sidebar-link{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #ffffff;
            display: block;
            transition: 0.3s;
            cursor: pointer;
        }
        .sidebar-link:hover{
            color: #b3aeae;
        }

        &.active{
            height: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
            overflow-x: hidden;
            padding-top: 80px;
            width: 180px;
            transition: width 0.5s;
            .sidebar-link{
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 18px;
                color: #ffffff;
                display: block;
                transition: 0.3s;
                cursor: pointer;
            }
            .sidebar-link:hover{
                color: #b3aeae;
            }
        }
        .nav .nav-item.nav-profile .nav-link {
            flex-direction: column;
            padding: 10px 20px;
            .profile-image{
                text-align: center;
                margin-bottom: 5px;
            }
            .dot-indicator{
                right: 45;
            }
        }
    }
}
