body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
	scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, hr {
	font-family: 'Gilroy-ExtraBold',sans-serif;
}
.text-center{
	text-align: center;
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #333;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #608dfd;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #608dfd;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
a {
    color: #337ab7;
    text-decoration: none;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
    
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
// @media (min-width: 568px) {
//     .container {
//         width: 550px;
//     }
// }
// @media (min-width: 792px) {
//     .container {
//         width: 770px;
//     }
// }
// @media (min-width: 1000px) {
//     .container {
//         width: 970px;
//     }
// }

.content {
	display: flex;
	flex-direction: column;
	margin-left: 270px;
}

@media (max-width: 768px) {
    .content {
		margin-left: 0;
	}
}

.section-title {
	margin-bottom: 40px;
	p {
		font-size: 18px;
	}
	h2 {
		position: relative;
		margin-top: 10px;
		margin-bottom: 15px;
		padding-bottom: 15px;
		&::after {
			position: absolute;
			content: "";
			background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
			height: 4px;
			width: 60px;
			bottom: 0;
			margin-left: -30px;
			left: 50%;
		}
	}
}